/* General Styles */
/* Apply to all sizes */
*, *:before, *:after {
  box-sizing: border-box;
 margin: 0;

}
.page{
  display: flex;
  flex-direction: column;
}
.the-head{
  display: flex;
  flex-direction: row;
align-items: flex-end;
 position: fixed;
}
.nav-links{
display: flex;
align-items: flex-end;
flex-direction: row;
position: fixed;
left: 80%;
}
.top-section{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 50px;

}
.middle-section{
  display: flex;
  flex-direction: column;
  align-items:  center;
}
.section1{
width: 80%;
}

.video-section{
display: flex;
justify-content: center;

}
.bottom-section{
display: flex;
flex-direction: row;
justify-content: center;
}
.item{
  display: flex;
  flex-direction: column;
 padding: 25px;
 border-radius: 20px;
 border-color: black;

}
.footer{
  display: flex;
align-content: flex-end;
flex-direction: column;
position: relative;
 text-align: right;
}
.priv-links{

}
/* Add Breakpoints Here */
/* Apply to certain size and above */
